#barsPlaceholderPanel {
	width: 100%;
	margin: 20px auto 0;
	z-index: 10;
}

.bars-placeholder {
	margin: 0 auto;
}

#calculationPlaceholderFrame {
	height: 30px;
	font-size: 20px;
	color: #8f3c1e;
	margin: 20px 0 40px;
}

#calculationPlaceholder{
    padding: 5px 8px;
    color: #fff;
    background-color: #bb3300;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

#calculationPlaceholder::after{
    content: "REQUIRED TWO BARS AT LEAST";
}

#calculationPlaceholder.to-great-number::after{
    content: "TOO GREAT NUMBER";
}

#calculationPlaceholder.code-number{
	color: #bb3300;
    background-color: transparent;
	font-size: 50px;
}

#calculationPlaceholder.code-number::after{
    content: "";
}
/* 
#calculationPlaceholder.to-copy{
	width: 30%;
	color: white;
	background-color: #eb6c3e;
	padding: .2rem .4rem;
	box-shadow: 0 0 .4rem .4rem rgb(139, 48, 15, 0.6);
}

#calculationPlaceholder.code-number::selection{
	color: white;
	background-color: #eb6c3e;

} */

.too-great-number,
.too-little-number {
  padding: 5px 8px;
  color: #fff;
  background-color: #bb3300;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.too-great-number {
  height: 0;
  animation-name: greatNumberPrompt;
  animation-duration: .5s;
}

@keyframes greatNumberPrompt {
  0% {
    height: 0;
  }

  100% {
    height: 18px;
  }
}

.too-great-number::after {
  content: "TOO GREAT NUMBER";
}

.too-little-number::after {
  content: "REQUIRED MINIMAL VALUE 3";
}
