#barsPlaceholderPanel {
	width: 100%;
	margin: 20px auto 0;
	z-index: 10;
}

.bars-placeholder {
	margin: 0 auto;
}

#calculationPlaceholderFrame {
  height: auto; /* Allow height to adjust based on content */
  color: #8f3c1e;
  margin: 20px 0 40px;
}

#calculationPlaceholder {
  padding: 8px 12px; /* Responsive padding */
  color: #fff;
  background-color: #bb3300;
  font-size: 2vw; /* Responsive font size */
  font-weight: bold;
  border-radius: 5px;
}

/* Media query for larger screens */
@media (min-width: 600px) {
  #calculationPlaceholder {
      padding: 5px 8px; /* Standard padding for larger screens */
  }
}

/* Media query for smaller screens */
@media (max-width: 400px) {
  #calculationPlaceholder {
      padding: 4px 6px; /* Adjust padding for smaller screens */
  }
}


#calculationPlaceholder::after{
    content: "REQUIRED TWO BARS AT LEAST";
}

#calculationPlaceholder.to-great-number::after{
    content: "TOO GREAT NUMBER";
}

#calculationPlaceholder.code-number{
	color: #bb3300;
    background-color: transparent;
	font-size: 50px;
}

#calculationPlaceholder.code-number::after{
    content: "";
}

.too-great-number,
.too-little-number {
  padding: 5px 8px;
  color: #fff;
  background-color: #bb3300;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.too-great-number {
  height: 0;
  animation-name: greatNumberPrompt;
  animation-duration: .5s;
}

@keyframes greatNumberPrompt {
  0% {
    height: 0;
  }

  100% {
    height: 18px;
  }
}

.too-great-number::after {
  content: "TOO GREAT NUMBER";
}

.too-little-number::after {
  content: "REQUIRED MINIMAL VALUE 3";
}
