.button-panel {
	width: 40%;
	display: inline-block;
}

.button-panel.left .editing-button {
	margin: 10px 15px 0 auto;
}

.button-panel.right .editing-button {
	margin: 10px auto 0 15px;
}

.editing-button {
	width: 120px;
	height: 40px;
	margin: 10px auto;
	padding: 2px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	box-shadow: 2px 2px #0f4e03;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.editing-button p {
	line-height: 40px;
	margin: 0;
}

.editing-button:hover {
	opacity: 0.8;
}

.editing-button:active {
	opacity: 0.5;
}

.editing-button:active {
	box-shadow: none;
}

#lastRemovalButton {
	background-color: #c9b027;
	box-shadow: 2px 2px #554907;
}

#clearButton {
	background-color: #bb2500;
	box-shadow: 2px 2px #6b1803;
}

.bar-button {
	background-color: #198105;
}

.bar-button-inactive,
.bar-button-inactive:hover {
	background-color: #b8b9b8;
	opacity: 0.5;
	box-shadow: 2px 2px #767776;
	cursor: default;
}

#thickButton,
#thinButton {
	background-color: #000;
	height: 100%;
	margin: 0 auto;
}

#thickButton {
	width: 20px;
}

#thinButton {
	width: 10px;
}