#userInputField {
	width: 80%;
	height: 40px;
	color: #777788;
	text-align: center;
	font-size: 34px;
	background-color: #ddddff;
	outline: 0;
}

#userInputField:placeholder-shown{
	font-size: 20px;
}