#printPanelWrapper{
    /* width: 100%;
    height: 180px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    transition: height .5s; */
}

/* #printPanelWrapper .panel-visible{
    height: 180px;
} */

.print-panel{
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    position: relative;
    top: 0;
}

.print-panel.panel-visible{
    top: 0;
}

.code-module-checkbox{
    display: inline-block;
}