#headerField {
    background-color: #093d70;
    color: #fff;
    height: auto; /* Allow height to adjust based on content */
    margin: 0 auto;
    padding: 20px; /* Use uniform padding */
    text-align: center;
}

#headerField h3{
    font-size: calc(14px + 1vw);  /*Use viewport width for responsive font size */
}

/* Media query for larger screens */
@media (max-width: 768px) {
    #headerField {
		min-width: 300px; /* Adjust as needed */
        padding: 20px 40px; /* Adjust padding for larger screens */
       
    }
}


/* Media query for smaller screens */
@media (max-width: 480px) {
    #headerField {
        padding: 15px; /* Reduce padding for smaller screens */
    }
    #headerField h3{
        font-size: 14px; /* Slightly smaller font size for very small screens */
    }
}
